in styles.css:


.container {

}

.red-container{
    background-color: #E25d5d;
}

.page-header{
    background-color: #A7b1b5;
}

.offers-header{
    color: black; 
    text-align: center; 
    font-size: 50px;
}

.offers-subheader{
    text-align: center;
    font-size: 20px;
}

.form-header{
    text-align: center;
    font-size: 30px;
}
